<div
  id="board"
  #boardElement
  [style]="isPlaying ? 'display:inline-flex' : 'display:none'"
>
  <div id="evalBar" [style]="players.length == 2 ? '' : 'display:none'">
    <div id="redEvalBar" [style.width]="evalBarWidth()"></div>
  </div>
  <div class="row" *ngFor="let row of board; index as i">
    <div
      [id]="i + '-' + j"
      #gridSpace
      [class]="'gridSpace' + ' ' + 'dots-' + space.value"
      (click)="pressed(j, i)"
      *ngFor="let space of row; index as j"
    >
      <div
        class="dot"
        *ngFor="let dot of [].constructor(space.value)"
        [style]="space.player ? 'background-color:' + space.player.color : ''"
      ></div>
    </div>
  </div>
</div>
<div id="boardOptions" [style]="isPlaying ? 'display: none' : ''">
  <button class="playerCountOption" (click)="start(1)">Play AI</button>
  <button class="playerCountOption" (click)="start(2)">2 Player</button>
  <button class="playerCountOption" (click)="start(3)">3 Player</button>
  <button class="playerCountOption" (click)="start(4)">4 Player</button>
  <div
    class="tooltip"
    [class]="help ? 'tooltip-hover' : ''"
    (click)="toggleHelp()"
  >
    <span style="cursor: help">?</span>
    <span class="tooltip-text"
      >If this is your first time playing, play against the AI on difficulty 2
      as red. Click your squares to add dotz. When a square hits 4 dotz, it
      explodes, adding dotz to neighbors and taking over opponent's squares.
      Explosions can affect neighboring squares in one turn.</span
    >
  </div>
  <br />
  <select [(ngModel)]="startPosition" name="startPos" id="startPosSelect">
    <option value="pickaxe">The Pickaxe (recommended)</option>
    <option value="corners">Corners</option>
    <option value="custom">Fully Custom</option>
  </select>
</div>
<dialog #gameOverScreen>
  <span id="gameOverText">{{ gameOverText }}</span>
  <div id="gameOverButtons">
    <button class="rematch" (click)="restart()">Rematch</button>
  </div>
</dialog>
<dialog #aiOptionsScreen>
  <label for="aiDifficulty">AI Difficulty: </label>

  <input
    type="number"
    id="aiDifficulty"
    [(ngModel)]="aiDifficulty"
    min="1"
    max="10"
  />
  <br />
  <input (click)="aiOptionsSubmit()" type="submit" value="Submit" />
</dialog>
<dialog id="chillScreen" #chillScreen>
  <span>{{ chillText }}</span>

  <input (click)="chillScreen.close()" type="submit" value="Ok" />
</dialog>
