<div class="sidebar">
  <a *ngIf="getPath() !== '/'" routerLink="/">Home</a>
  <a *ngIf="getPath() === '/'" href="/">Home</a>
  <a *ngIf="userData == null" routerLink="/signup">Signup</a>
  <div *ngIf="userData != undefined">
    <a routerLink="/past-games">Past Games</a>
    <form>
      <button (click)="signOut()" type="button">Logout</button>
    </form>
    <div
      class="profile_button"
      *ngIf="userData != undefined && userData.user_metadata != undefined"
    >
      <img
        style="--avatar-size: 50px"
        class="avatar"
        [src]="userData.user_metadata['avatar_url']"
        alt="Your Profile Picture"
        referrerpolicy="no-referrer"
      />
    </div>
  </div>
</div>

<div #content id="content">
  <router-outlet></router-outlet>
</div>
