:root {
  --color1: #f54e42;
  --color2: #2b2b2b;
  --color3: #4287f5;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "JetBrains Mono", monospace;
  background-color: var(--color2);
}

#container {
  display: inline-flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#board {
  display: inline-flex;
  flex-direction: column;
}

.row {
  display: inline-flex;
}

.gridSpace {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 25%;
  margin: 2px;
  box-sizing: border-box;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out, background-color 0.3s ease;
}

.dots-1,
.dots-2,
.dots-3,
.dots-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots-1 .dot {
  position: absolute;
  display: block;
  margin: 0 auto;
}

.dots-2 .dot {
  position: relative;
  display: inline-block;
}

/* only animate if it isn't .dontanimate */
.dots-2.dontanimate .dot:first-child {
  animation: dot1-to-2dots-dot1 0s ease-in-out forwards !important;
}
.dots-2.dontanimate .dot:nth-child(2) {
  animation: dot1-to-2dots-dot2 0s ease-in-out forwards !important;
}
.dots-2 .dot:first-child {
  animation: dot1-to-2dots-dot1 0.3s ease-in-out forwards;
}
.dots-2 .dot:nth-child(2) {
  animation: dot1-to-2dots-dot2 0.3s ease-in-out forwards;
}
@keyframes dot1-to-2dots-dot1 {
  0% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(15px);
  }
}

@keyframes dot1-to-2dots-dot2 {
  0% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(-15px);
  }
}

.dots-3 .dot:first-child,
.dots-3 .dot:nth-child(2) {
  position: static;
  transform: translateY(8.66025403784px);
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}
.dots-3 .dot:nth-child(2),
.dots-3 .dot:first-child {
  animation: bottomDots-to-topDots 0.3s ease-in-out forwards;
}

@keyframes bottomDots-to-topDots {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(8.66025403784px);
  }
}
.dots-3 .dot:nth-child(3) {
  position: absolute;
  display: inline-block;
  animation: thirdDotOnTriDotFormation 0.3s ease-in-out forwards;
}

@keyframes thirdDotOnTriDotFormation {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-8.66025403784px);
  }
}

.dots-4 .dot:first-child {
  animation: dots-4-dot1 0.3s ease-in-out forwards;
}

.dots-4 .dot:nth-child(2) {
  animation: dots-4-dot2 0.3s ease-in-out forwards;
}

.dots-4 .dot:nth-child(3) {
  animation: dots-4-dot3 0.3s ease-in-out forwards;
}

.dots-4 .dot:nth-child(4) {
  animation: dots-4-dot4 0.3s ease-in-out forwards;
}

@keyframes dots-4-dot1 {
  0% {
    transform: translate(-10px, 8.66025403784px);
  }
  100% {
    transform: translate(-10px, 10px);
  }
}

@keyframes dots-4-dot2 {
  0% {
    transform: translate(10px, 8.66025403784px);
  }
  100% {
    transform: translate(10px, 10px);
  }
}

@keyframes dots-4-dot3 {
  0% {
    transform: translateY(-8.66025403784px);
  }
  100% {
    transform: translate(10px, -10px);
  }
}

@keyframes dots-4-dot4 {
  0% {
    transform: translateY(-8.66025403784px);
  }
  100% {
    transform: translate(-10px, -10px);
  }
}

.boardOptions {
  display: inline-flex;
  justify-content: center;
}

.playerCountOption {
  width: 70px;
  height: 70px;
  border-radius: 25%;
}

#startPosSelect {
  border-radius: 10px;
  margin-top: 10px;
  height: 30px;
}

.playerCountOption,
#startPosSelect {
  border-width: 0px;
  background-color: #fff;
}

dialog {
  background-color: #262626;
  border-radius: 10px;
  border-color: transparent;
  color: white;
  text-align: center;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

#gameOverText {
  font-weight: 700;
  font-size: 1.2em;
}

#gameOverButtons {
  margin-top: 10px;
}

.rematch:active {
  border-bottom-width: 0px;
}

.rematch {
  width: 268px;
  height: 54px;
  background-color: var(--color3);
  border-width: 0px;
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 0.5);
  border-bottom-width: 3px;
  font-size: 1.1em;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  width: 100%;
  border-bottom-width: 3px;
  border-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border-width: 0px;
  margin-top: 20px;
  min-height: 50px;
  font-size: 1.1em;
  background-color: var(--color3);
}

#evalBar {
  width: 100%;
  background-color: var(--color3);
  border: solid;
  border-width: 2px;
  border-color: var(--color2);
}

#redEvalBar {
  width: 50%;
  height: 30px;
  background-color: var(--color1);
}

.sidebar {
  width: 140px;
  background-color: #1a1a1a;
  position: fixed;
  height: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: 55px;
    position: relative;
  }

  .sidebar * {
    float: left;
  }

  div#content {
    margin-left: 0 !important;
    width: 100% !important;
    height: calc(100% - 55px) !important;
    min-height: calc(100% - 55px) !important;
  }

  .profile_button {
    right: 0px;
    float: right;
    height: 50px !important;
    width: 50px !important;
    bottom: auto !important;
  }
}

div#content {
  display: flex;
  align-items: center; /* Vertically centers the content */
  width: auto;
  height: auto;
  min-height: 100%;
  background-color: var(--color2);
  margin-left: 140px;
  transition: background-color 0.3s ease-in-out;
}

#content {
  width: auto;
  height: auto;
  min-height: 100%;
  background-color: var(--color2);
  margin-left: 140px;
}

app-home {
  margin: auto;
  height: 100%;
}

.sidebar * {
  display: block;
  color: white;
  text-decoration: none;
  padding: 16px;
}

.sidebar *:hover:not(div) {
  background-color: #555;
  color: white;
}

.sidebar .div *:hover:not(.profile_button) {
  background-color: #555;
  color: white;
}

.sidebar div form,
.sidebar div {
  padding: 0;
  width: auto;
}

.sidebar div form button {
  background-color: rgba(0, 0, 0, 0);
  background: none;
  border: none;
  padding: 16px;
  cursor: pointer;
  font-size: 16px;
  display: inline;
  width: 100%;
  text-align: left;
  font-family: inherit;
}

.avatar {
  width: var(--avatar-size, 50px); /* Default size is 50px */
  height: var(--avatar-size, 50px);
  border-radius: 50%; /* To make it a circle */
  object-fit: cover; /* Ensure the image fits within the circle */
  padding: 0px;
}

.profile_button {
  width: 100%;
  box-sizing: border-box;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  position: absolute;
}

.tooltip {
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
  color: #fff;
  height: 15px;
  width: 15px;
  text-align: center;
  font-size: 12px;
  float: right;
  transform: translateY(-15px);
}

.tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  right: 125%; /* Position above the question mark */
  bottom: 2px;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip.tooltip-hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.gameDisplay {
  background-color: #fff;
  color: #000;
  border-width: 0px;
  border-radius: 10px;
  width: 180px;
  height: 80px;
  padding: 10px;
  margin-bottom: 10px;
}

.gameDisplay:last-child {
  margin-bottom: 0px;
}

.gameDisplay .metadata {
  color: #333;
  font-size: 13px;
}

.gameDisplay .title {
  color: #000;
  font-size: 16px;
}

#chillScreen {
  width: 500px;
}

